/* TODO: Safari doesn't blend the fishies accurately.*/
.logoPlaceholder {
  height: 300px;
  background-size: 180%;
  background: url("/assets/images/half-bg.svg") no-repeat center;
  .fishies {
    height: 100%;
    mix-blend-mode: luminosity;
    background: url("/assets/images/Fishiesss.svg") no-repeat center;
  }
}

.content {
  padding: 20px;
  h3 {
    text-align: center;
  }
  ol {
    width: fit-content;
    margin: auto;
    font-size: 14px;
    color: rgba(0,0,0,0.65);
    letter-spacing: -0.17px;
    line-height: 30px;
  }
}

.buttons {
  composes: btn from "../../shared/styles/buttonStyles.scss";
  font-size: 18px;
}

.buttonContainer {
  padding: 0 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #858585;
  border-top: 1px solid #e8e8e8;
}

