$globalStyles: '../../shared/styles/globalStyles.scss';

.splashScreen {
  color: black;
}

.titleText {
  composes: normalText from $globalStyles;
  padding: 18px;
  text-align: center;
  margin: 0;
}

.logoPlaceholder {
  height: 300px;
  background-color: #f1f1f1
}

.buttons {
  composes: btnMedium from $globalStyles;
  display: table;
  margin: 10px auto;
}

.buttonContainer {
  padding: 0 20px;
}
