.container {
  margin: 0;
  padding: 0;
}

.titleText {
  composes: normalText from "../../shared/styles/fontStyles.scss";
  padding: 18px;
  text-align: center;
  margin: 0;
  display: inline-block;
}
